body {
    font-family: 'Times New Roman', Times, serif;
    margin: 2rem;
    background-color: blanchedalmond;
}

#card {
    background-color:blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cornflowerblue;
    margin: 2rem;
    padding: 2rem;  
    border-radius: 4px;
}

.navbar{
 
  background-color: white;
  
}
h1{
    color:black;   
    text-align: left;
    margin: auto;

}

h2{
    color: black;
    text-align: left;
    margin: auto;
}

.Game-article1 {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    max-width: 1000px;
    padding: 10rem;
    margin: 2rem;
 
  }
  .Game-article2 {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    max-width: 1000px;
    padding: 10rem;
    margin: 2rem;
 
  }
  .Game-article3 {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    max-width: 1000px;
    padding: 10rem;
    margin: 2rem;
    
 
  }

 